{% extends 'base.html.twig' %}

{% block title %}Sale index{% endblock %}

{% block body %}
    <h1>Sale index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sale_date</th>
                <th>Dep_number</th>
                <th>Prod_code</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.saleDate ? sale.saleDate|date('Y-m-d') : '' }}</td>
                <td>{{ sale.depNumber }}</td>
                <td>{{ sale.prodCode }}</td>
                <td>{{ sale.amount }}</td>
                <td>
                    <a href="{{ path('sale_show', {'id': sale.id}) }}">show</a>
                    <a href="{{ path('sale_edit', {'id': sale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
    </table>
        <form method="POST" action = "{{ url('needtofindGreaterAmount') }}">
            <input name="amount" type="Int"/>
            <button>Create sales report</button>
        </form>
        {% for sale in sales %}
        {{ s.data }}
        {% endfor %}
        </tbody>


    <a href="{{ path('sale_new') }}">Create new</a>
{% endblock %}
